body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url(http://www.cadtutor.net/download/raster/sky_03_source/sky-21.jpg);
    background-attachment: fixed;
    color: white;
    text-align: center;
}
a{
    text-decoration:none;
}
a:hover, footer{
    color: black;
}
input, li, button{
    border-radius: 10px;
}
input{
    text-align:center;
}
li {
    list-style-type: none;
}
p{
    font-size: 25px;
}
img{
    height: 55px;
    width: 55px;
}
div{
    padding: 10px;
}
hr {
    margin-left: 40px;
    margin-right: 40px;
}
footer {
    position: fixed;
    bottom: 30px;
    width: 100%;
}
footer p {
    font-size: 15px;
}
.underline{
    color: black;
    text-decoration: underline;
}
h1 img{
    width: 38px;
    height:38px;
}