body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url(http://cdn.pcwallart.com/images/dusk-sky-stars-wallpaper-2.jpg);
    background-attachment: fixed;
    color: white;
    text-align: center;
}
a{
    text-decoration:none;
}
a:hover{
    color: grey;
}
input{
    text-align:center;
}
li {
    list-style-type: none;
}
.days-selector{
    font-size: 25px;
}
img{
    height: 55px;
    width: 55px;
}
div{
    padding: 10px;
}
hr {
    margin-left: 40px;
    margin-right: 40px;
}
footer p {
    font-size: 15px;
}
.underline{
    text-decoration: underline;
    font-style: italic;
}
h1 img{
    width: 38px;
    height:38px;
}
table{
    text-align: center;
    vertical-align:middle;
}
.small-icon{
    width: 18px;
    height:18px;
}
.small-icon:hover {
    content: url(settings_grey.png);
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}