<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - WeatherOWM App</title>
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css">
    <link rel="stylesheet" href="~/Content/Site.css" />
</head>
<body>
    <h1><img src="~/Content/Sunny.png" title="Sun" />@Html.RouteLink("WeatherOWM", "Empty")</h1>
    <hr />
    <div class="w3-row">
        <div class="w3-container">
            @RenderBody()
        </div>
    </div>
    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - WeatherOWM App</p>
    </footer>
</body>
</html>